*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(32, 32, 35);
    text-decoration: none;
    scroll-behavior: smooth;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;   
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}
.wrapper{
    width: 100%;
    /* height: 1600px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}
.nav{
    width: 100%;
    height: 100px;
    background: white;
    box-shadow: 0px 3px 15px -10px rgba(66, 68, 90, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.nav_text{
    color: black;
    text-decoration: none;
    transition: 0.3s;
    color: rgb(32, 32, 35);
    font-size: 20px;
}
.nav_a:hover{
    color: violet;
    transition: 0.2s;
}
.nav_box1{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_box2{
    width: 35%;
    display: flex;
    justify-content: space-around;
}
.nav_img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.header{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 90px;
    background: url(../img/bg.avif);
    background-size: 100% 100%;
}
.header_text{
    font-size: 20px;
    /* margin: 40px; */
    line-height: 30px;
}
.header_headline{
    font-size: 56px;
    font-weight: bold;
}
.header_btn{
    width: 200px;
    height: 60px;
    box-shadow: 0px 0px 29px -18px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    justify-content: center;

}
button:hover{
    scale: 1.03;
    box-shadow: 0px 0px 29px -10px rgba(66, 68, 90, 1);
    transition: 0.2s;
}
.section_aboutMe{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: white;
    margin-top: 20px;
}
.aboutText{
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}
.headline{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.getToKnow{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 500px;
}
.skills{
    width: 40%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.skills h2{
    width: 100%;
}
button{
    font-family: "Bebas Neue", sans-serif;
    border-radius: 10px;
    border: none;
    background: rgb(234, 137, 234);
    color: white;
    letter-spacing: 9px;
    font-size: 24px;
    transition: 0.3s;
}
.contact{
    width: 170px;
    height: 60px;
}
.contact:hover{
    scale: 1.03;
    box-shadow: 0px 0px 29px -10px rgba(66, 68, 90, 1);
    transition: 0.2s;
}
p{
    font-size: 18px;
    line-height: 25px;
}
.getToKnow p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.skill{
    width: 35%;
    height: 60px; 
    border-radius: 8px;
    padding: 15px;
    background: lightgray;
    opacity: 0.5;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.html{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

circle-progress::part(value)
{
    stroke-width: 50px;
	stroke: hsl(299, 90%, 70%);
}

circle-progress::part(text)
{
    fill: white;
	font-weight: bold;
}

circle-progress::part(circle)
{
    stroke-width: 40px;
	stroke: hsl(285, 24%, 36%);
    fill: hsl(286, 22%, 50%);
}


.section_contact{
    width: 100%;
    height: 950px;
    margin-top: 40px;
    background: url(../img/bg.avif);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}
.cont_box{
    height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact_box{
    width: 50%;
    height: 600px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.cont_text{
    width: 80%;
    text-align: center;
}
label{
    width: 100%;
    font-weight: bold;
}
.input_box{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.name{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: none;
    border: 0.1px solid rgb(203, 203, 203);
    background: rgb(244, 244, 244);
    margin-top: 10px;
}
.mail{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border: none;
    border: 0.1px solid rgb(203, 203, 203);
    margin-top: 10px;
    background: rgb(244, 244, 244);
}
input{
    font-size: 15px;
    padding-left: 10px;
    font-weight: bold;
}
.mess{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: none;
    border: 0.1px solid rgb(203, 203, 203);
    margin-top: 10px;
    background: rgb(244, 244, 244);
}
.footer{
    width: 100%;
    height: 250px;
    background: rgb(32, 32, 35);
    display: flex;
    justify-content: space-around;
}

.footer_box1{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.footer_box2{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.footer_text{
    color: white;
}
.projects_section{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text_box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project_textbox{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.project_box{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.projects_img{
    width: 45%;
    height: 100%;
}
.button_box{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.submit{
    width: 160px;
    height: 50px;
}
.view{
    width: 120px;
    height: 50px;
}

@media screen and (max-width:1023px){
    .nav{
        justify-content: space-around;
    }
    .nav_box1{
        width: 40%;
    }
    .nav_box2{
        width: 40%;
    }
    .projects_img{
        width: 40%;
    }
    .section_aboutMe{
        height: 950px;
    }
    .contact_box{
        width: 70%;
    }
}
@media screen and (max-width:767px){
    .nav_box1{
        display: none;
    }
    .nav_box2{
        width: 90%;
    }
    .section_aboutMe{
        height: 1500px;
    }
    .getToKnow{
        width: 90%;
    }
    .skills{
        width: 90%;
    }
    .project_box{
        display: flex;
        flex-wrap: wrap;
    }
    .cont_box{
        height: 900px;
    }
    .contact_box{
        width: 80%;
    }
}
@media screen and (max-width:500px){
    .projects_section{
        height: 1500px;
    }   
    .projects_img{
        width: 60%;
    }
    .project_textbox{
        width: 40%;
    }
    .project_box{
        height: 700px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}   
.send_btn{
    width: 120px;
    height: 50px;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 10px;
    border: none;
    background: rgb(234, 137, 234);
    color: white;
    letter-spacing: 9px;
    font-size: 23px;
    transition: 0.3s;
}
.send_btn:hover{
    scale: 1.03;
    box-shadow: 0px 0px 29px -10px rgba(66, 68, 90, 1);
    transition: 0.2s;
}
button{
    cursor: pointer;
}
.send_btn{
    cursor: pointer;
}